<%
  const { supportedLocales, currentLocale, localeToFlag, activePage } = locals;
  const currentLocaleFlag = localeToFlag(currentLocale);
%>

<% if (currentLocaleFlag && supportedLocales && supportedLocales.length > 1) { %>
<div class="language-selector inline-block relative text-xl">
  <div class="flex items-center pt-2 pl-5">
    <span class="flag-icon flag-icon-<%= currentLocaleFlag %>"></span>
    <svg class="fill-current h-4 w-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
  </div>
  <ul class="language-selector-menu absolute hidden pt-1 pl-4">
    <% supportedLocales.forEach((locale, i) => { %>
      <li class="">
        <a
          class="<%= i === 0 ? 'rounded-t' : '' %> <%= i === (supportedLocales.length - 1) ? 'rounded-b' : '' %> bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
          href="/lang/<%= locale %>?redirectTo=<%= activePage %>"
        >
          <span class="flag-icon flag-icon-<%= localeToFlag(locale) %>"></span>
        </a>
      </li>
    <% }) %>
  </ul>
</div>
<% } %>